*{
    color: bisque;
}

.cabecalho_img {
    margin: 25px 0 20px 20px;
}

.msg_principal{
    font-size: 100px;
    font-weight: bolder;
    margin: auto;
    font-style: italic;
    text-shadow: 5px 2px 15px rgb(255, 120, 120, 0.8);
}

.font_Input{
    font-size: 25px;
    padding: 5px 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input{
    width: 450px;
    height: 50px;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    background-color: unset;
    border: 2px solid rgb(255, 120, 120);
    border-radius: 15px;
}

input:focus {
    background-color: rgb(255, 120, 120);
    outline: none;
}

input::placeholder{
    color: bisque;
}

.resultado_valor {
    font-size: 25px;
    text-align: center;
    margin-top: -5%;
}

.qtdTentativa{
    font-size: 25px;
    text-align: center;
}

button {
    margin: 10%;
    width: 150px;
    height: 80px;
    border-radius: 20px;
    font-size: larger;
    border: 2px solid rgb(255, 120, 120);
    background-color: unset;
    box-shadow: 2px 2px 15px rgb(255, 120, 120);
}

button:hover {
    background-color: rgb(255, 120, 120);
    font-weight: bolder;
}